{% extends 'app/lost.html' %}

{% block content %}
  <form action="{% url 'lost_updateitem' item_id=object.item_id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
      <div class="left-column">
        <div class="form-container item-container">
          <div class="form-group">
            <label for="item_name">Item Name:</label>
            <input type="text" id="item_name" name="item_name" class="form-control" value="{{ object.item_name }}" />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control">{{ object.description }}</textarea>
          </div>
          <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
          </div>
          <div class="form-group">
            <label for="photo">Photo (optional):</label>
            <input type="file" id="photo" name="photo" class="form-control" />
          </div>
          <div class="form-group">
            <label for="location_lost">Location Lost:</label>
            <input type="text" id="location_lost" name="location_lost" class="form-control" value="{{ object.location_lost }}" />
          </div>
        </div>
      </div>

      <div class="right-column">
        <div class="form-container contact-container">
          <div class="form-group">
            <label for="lost_by">Lost By:</label>
            <input type="text" id="lost_by" name="lost_by" class="form-control" value="{{ object.lost_by }}" />
          </div>
          <div class="form-group">
            <label for="contact_information">Contact Number:</label>
            <input type="text" id="contact_information" name="contact_information" class="form-control" value="{{ object.contact_information }}" />
          </div>
          <div class="form-group">
            <label for="{{ form.school.id_for_label }}">School:</label>
            {{ form.school }}
          </div>
          <button type="submit" class="save-button" value="Save">Submit</button>
        </div>

        <div class="form-container preview-container">
          <div class="preview-box">
            <p id="preview-text">Preview Image</p>
            <img id="photo-preview" src="#" alt="Image Preview" style="display:none;" />
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
